* {
    font-family: "Fira Code Nerd Font";
    font-size: 15px;
    border: none;
}

#waybar {
    background-color: #2e3440;
}

#waybar.hidden {
    opacity: 0;
}

#window {
    font-family: "Fira Code Nerd Font";
    border: 1px solid #434c5e;
    border-radius: 10em;
    color: #88c0d0;
    padding: 0 1em;
    margin-left: 1em;
    margin-right: 1em;
}

window#waybar.empty {
    border: none;
}

#workspaces {
    background-color: transparent;
    margin-left: 0.5em;
    border: 1px solid #434c5e;
    border-radius: 100px;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #4c566a;
}

#workspaces button:hover {
    box-shadow: inherit;
}

#workspaces button.focused {
    color: #8fbcbb;
}

#workspaces button.urgent {
    background-color: #c9a0dc;
    color: #000000;
}

#mode {
    margin-left: 1em;
    border: 1px solid #434c5e;
    border-radius: 100px;
}

#clock,
#battery,
#cpu,
#memory,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#mpd {
    padding: 0 10px;
    color: #88c0d0;
    border-bottom: 1px solid #434c5e;
    /* color: ; */
}

#clock {
    border: 1px solid #434c5e;
    border-radius: 100px;
    color: #a3be8c;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

label:focus {
    background-color: #000000;
}

#cpu {
}

#memory {
}

#network {
    border-left: 1px solid #434c5e;
    border-top: 1px solid #434c5e;
    border-radius: 100px 0 0 100px;
}

#network.disconnected {
    background-color: #f53c3c;
}

#pulseaudio {
    margin-right: 0.2em;
    border-right: 1px solid #4c566a;
    border-top: 1px solid #4c566a;
    border-radius: 0 100px 100px 0;
}

#tray {
    background-color: transparent;
}

#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
}

#mpd {
    background-color: #66cc99;
    color: #2a5c45;
}

#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}
